{% extends 'base.html' %}


{% block head %}

<title>Accex List</title>

{% endblock %}


{% block body %}
<div class='mt-5 d-flex'>

  <div class='p-5'>


    <h1 class='display-4'>Add an exercise</h1>

    <form action='/exercises' method='POST'>
      <div class='form-group'>
        <input class='form-control' type='text' name='name' placeholder='Exercise'>
      </div>
      <div class='form-group'>
        <select class='form-control' name='body_area'>
          <option value=null>Body area</option>
          <option value='push'>push</option>
          <option value='pull'>pull</option>
          <option value='legs'>legs</option>
          <option value='core'>core</option>
          <option value='full'>full</option>
          <option value='distance'>distance</option>
        </select>
      </div>
      <input type='submit' value='Add' class='btn btn-info'>
    </form>

    <div class='exercises-top-metrics'>
      <span>number of exercises: {{ exercises|length }}</span>
      <span>
        push: {{ push_count }} 

        pull: {{ pull_count }} 

        legs: {{ legs_count }} 

        core: {{ core_count }} 

        full: {{ full_count }} 

        distance: {{ distance_count }}  
      </span>
    </div>

    <a class='text-info' href='/' >back to main page</a>
  </div>

  <div class='pl-5'>
  {% if exercises|length < 1 %}
  <h4>No exercises!</h4>

  {% else %}
  <table class='table table-hover table-sm' style='width:130%'>
    <colgroup>
      <col class='exercises-table-col1' />
      <col class='exercises-table-col2' />
      <col class='exercises-table-col3' />
    </colgroup>
    <thead>
      <tr>
        <th>Exercise</th>
        <th>Target Area</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for exercise in exercises %}
        <tr>
          <td>{{ exercise.name }}</td>
          <td>{{ exercise.body_area }}</td>
          <td>
            <a href='/delete/{{exercise.id}}' class='text-info'>delete</a>
            <a href='/update/{{exercise.id}}' class='text-info'>update</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


</div>
{% endif %}

{% endblock %}