{% extends 'base.html' %}


{% block head %}

<title>Accex List</title>

{% endblock %}


{% block body %}
<div class='m-4 d-flex'>
  <div class='pl-5 pt-4' style='width:45%'>
    <div class='sticky-top'>
      <h1 class='display-4'>Add an exercise</h1>
      <form action='/exercises' method='POST' class='py-2' style='width:80%'>
        <div class='form-group'>
          <input class='form-control' type='text' name='name' placeholder='Exercise'>
        </div>
        <div class='form-group'>
          <select class='form-control' name='body_area'>
            <option value='push'>push</option>
            <option value='pull'>pull</option>
            <option value='legs'>legs</option>
            <option value='core'>core</option>
            <option value='full'>full</option>
            <option value='distance'>distance</option>
          </select>
        </div>
        <input type='submit' value='Add' class='btn btn-info'>
      </form>
      <div class='pt-4' style='width:50%'>
        <ul class='list-group'>
          <li class="list-group-item d-flex justify-content-between align-items-center py-1">
            Push
            <span class="badge badge-info badge-pill">{{ push_count }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center py-1">
            Pull
            <span class="badge badge-info badge-pill">{{ pull_count }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center py-1">
            Legs
            <span class="badge badge-info badge-pill">{{ legs_count }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center py-1">
            Core
            <span class="badge badge-info badge-pill">{{ core_count }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center py-1">
            Full body
            <span class="badge badge-info badge-pill">{{ full_count }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center py-1">
            Distance
            <span class="badge badge-info badge-pill">{{ distance_count }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center py-1 ">
            Total
            <span class="badge badge-info badge-pill">{{ exercises|length }}</span>
          </li>
        </ul>
      </div>
      <div class='pt-4 pl-1'>
        <a class='text-info' href='/' >back to main page</a>
      </div>
    </div>
  </div>

  <div class='pl-5'>
    {% if exercises|length < 1 %}
    <h4>No exercises!</h4>

    {% else %}
    <table class='table table-hover table-sm' style='width:130%'>
      <thead>
        <tr>
          <th class='sticky-top bg-white'>Exercise</th>
          <th class='sticky-top bg-white text-center'>Target Area</th>
          <th class='sticky-top bg-white text-center'>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for exercise in exercises %}
          <tr>
            <td>{{ exercise.name }}</td>
            <td class='text-center'>{{ exercise.body_area }}</td>
            <td class='text-center'>
              <a href='/delete/{{exercise.id}}' class='text-info'><i class="far fa-trash-alt"></i></a>
              <!-- <a href='/update/{{exercise.id}}' class='text-info'>update</a> -->
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endif %}

{% endblock %}