{% extends 'base.html' %}


{% block head %}

<title>Accex Generator</title>

{% endblock %}


{% block body %}


<div class='d-flex flex-column align-items-center mt-5'>
  <h1 class='display-4'>Accessory Exercises Generator</h1>

  <form method='POST' class='form-inline py-3 pb-4'>
    <div class='form-group mx-sm-3 mb-2'>
      <select name='choose' class='form-control' >
        <option value='upper'>upper body</option>
        <option value='lower'>lower body</option>
      </select>
    </div>
    <input class='btn btn-info mb-2' type='submit' value='generate'>
  </form>

  <table class='table table-bordered table-sm' style='width:30%'>
    <tr>
      <th>Type</th>
      <th>Exercises for <span class='text-info'>{{ target_body }} body</span></th>
    </tr>

    {% if target_body == 'upper' %}

    <tr>
      <td>Push</td>
      <td>{{ d1.name }}</td>
    </tr>
    <tr>
      <td>Push</td>
      <td>{{ d2.name }}</td>
    </tr>
    <tr>
      <td>Pull</td>
      <td>{{ d3.name }}</td>
    </tr>
    <tr>
      <td>Pull</td>
      <td>{{ d4.name }}</td>
    </tr>
    <tr>
      <td>Core</td>
      <td>{{ d5.name }}</td>
    </tr>
    <tr>
      <td>Full</td>
      <td>{{ d6.name }}</td>
    </tr>
  </table>

  {% else %}

    <tr>
      <td>Legs</td>
      <td>{{ d6.name }}</td>
    </tr>
    <tr>
      <td>Core</td>
      <td>{{ d5.name }}</td>
    </tr>
    <tr>
      <td>Pull</td>
      <td>{{ d3.name }}</td>
    </tr>
    <tr>
      <td>Pull</td>
      <td>{{ d4.name }}</td>
    </tr>
    <tr>
      <td>Full</td>
      <td>{{ d7.name }}</td>
    </tr>
    <tr>
      <td>Full</td>
      <td>{{ d8.name }}</td>
    </tr>
  </table>

  {% endif %}
  <div class='py-3'>
    <a href='/exercises' class='text-info'>go to full list of exercises</a>
  </div>

</div>

{% endblock %}